.header {
  background-color: #02b3e4;
  height: 5rem;
  position: sticky;
  color: #fff;
}
.header__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}
.header__menu {
  text-align: center;
  margin-right: 10px;
}
.header a:first-child {
  text-align: center;
  padding: 0 10px;
  margin-right: 5px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}
.header a:nth-child(2) {
  text-align: center;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.header a:nth-child(2) i {
  font-size: 1rem;
}
.header a:nth-child(2) #cartAmount {
  color: white;
  padding: 1px 7px;
  border-radius: 50%;
  background: red;
  font-size: 13px;
  position: absolute;
  font-weight: bold;
  bottom: 15px;
  left: 55%;
}
